*{
	box-sizing: border-box;
}
html, body{
height: 100%;
margin: 0;
}
body{
	font-family:  Arial, sans-serif;
	color: #c2c2c2; 
	width: 100%;
	background: #f1f1f1;
	}
.container
{
	width:80%;
	margin: 10px auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
header{
	display: block;
	min-width: 400px;
	text-align: center;
	margin-bottom: : 10px;
		}
input[type="search"]
{
	font-size:70px;
	background: inherit;
	border: none;
	font-weight: bold;
	text-align: left; 
	width:80%;
	display: inline-block;
	color:#ec5a62;
}
input[type="submit"]
{
	background: url("../img/search.svg");
	width:71px; 
	height:71px;
	border: none; 
	text-align: right;
	display: inline-block;
}
input [type="search"]:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
main{
	display: block;
	min-width: 960px;
	text-align: center;
	margin: 0 auto;
	
}
.sub__container{
	text-align: center;
	margin: 0 auto;	
	width:30%;
	text-align: left;
	display: inline-block;
}
h3{
	margin: 5px;
}

ul{
	list-style-type: none;
   	padding: 0;
	margin: 0;
	background: inherit;
	width: 100%;
}
ul li{
	margin: 5px;
	font-size:14px;
	transition: opacity .5 ease-in;
	padding: 5px 5px; 
	background: rgba(118,117,128,0.05);
	min-width: 290px;
}
img{
	vertical-align: middle;	
}
.image{
	border-radius: 50%;	
}
span{
	padding: auto 10px;
	color: #bfbfbf;
	margin:5px;
	display: inline-block;
	min-width: 215px;
}
a{
	text-decoration: none;
}

span:hover{
	color:#ec5a62;
	background: rgba(118,117,128,0.1);
}

.input1::-webkit-input-placeholder       
{
	opacity: 1; transition: opacity 0.3s ease;
	border: none;
}
.input1::-moz-placeholder                
{
	opacity: 1; 
	transition: opacity 0.3s ease; border: none;
}
.input1:-moz-placeholder                 
{
	opacity: 1; 
	transition: opacity 0.3s ease; border: none;
}
.input1:-ms-input-placeholder            
{
	opacity: 1;
	transition: opacity 0.3s ease; border: none;
}
.input1:focus::-webkit-input-placeholder 
{
	opacity: 0; 
	transition: opacity 0.3s ease; border: none;
}
.input1:focus::-moz-placeholder          
{
	opacity: 0; 
	transition: opacity 0.3s ease; 
	border: none;
}
.input1:focus:-moz-placeholder           
{
	opacity: 0; 
	transition: opacity 0.3s ease; 
	border: none;
}
.input1:focus:-ms-input-placeholder      
{
	opacity: 0;
	transition: opacity 0.3s ease; 
	border: none;
}
 
